<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="__ROOT__/favicon.ico" type="image/x-icon"/>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="__ROOT__/Public/Admin/css/dpl-min.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/Admin/css/bui-min.css" rel="stylesheet" type="text/css"/>
    <link href="__ROOT__/Public/Admin/css/main-min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="header">

    <div class="dl-title">
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{$admin.name}</span><a href="__APP__/admin/users/logout.html"
                                                                        title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div>
        </div>
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner nav-home">管理模块</div>
            </li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/bui-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/common/main-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/config-min.js"></script>
<script>
    BUI.use('common/main', function (){
        var config = [{id:'1',homePage : '5',menu:[
            <if condition="$admin_role eq 'all'">
            {text:'网站管理 ',items:[
                {id:'4',text:'轮播图',href:'__APP__/admin/index/flash.html'},
                {id:'8',text:'会员种类',href:'__APP__/admin/package/list.html'},
                {id:'9',text:'诊疗项目',href:'__APP__/admin/goods/list.html'},
                {id:'11',text:'协议管理',href:'__APP__/admin/agreement/list.html'},
                {id:'15',text:'材料清单',href:'__APP__/admin/index/clist.html'},
            ]},
            </if>
            {text:'会员管理 ',items:[
            <if condition="($admin_role eq 2) or ($admin_role eq 'all')">
                {id:'12',text:'购买会员申请',href:'__APP__/admin/subsidies/buy.html'},
            </if>
                {id:'5',text:'会员列表',href:'__APP__/admin/member/list.html'},
                {id:'18',text:'订单列表',href:'__APP__/admin/order/m_list.html'},
            <if condition="($admin_role eq 3) or ($admin_role eq 2) or ($admin_role eq 'all')">
                {id:'7',text:'补贴申请',href:'__APP__/admin/subsidies/list.html'},
            </if>
            <if condition="($admin_role eq 3) or ($admin_role eq 2) or ($admin_role eq 5) or ($admin_role eq 'all')">
                {id:'17',text:'退款申请',href:'__APP__/admin/order/refund.html'},
                </if>
            ]},
            <if condition="($admin_role eq 3) or ($admin_role eq 'all')">
            {text:'财务管理 ',items:[
                {id:'6',text:'年费收入详情',href:'__APP__/admin/income/list.html'},
                {id:'10',text:'套餐收入详情',href:'__APP__/admin/order/list.html'}
            ]},
            </if>
            <if condition="$admin_role eq 'all'">
            {text:'权限管理',items:[
                {id:'2',text:'用户管理',href:'__APP__/admin/power/user.html'}
            ]},
            </if>

            ]}];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    });
</script>
</body>
</html>
