@charset 'utf-8';

/*conf*/
html { font-size:125%; }
body { font-size:14px; }


@media (min-width: 320px) {
	html { font-size: 20px; }
}
@media (min-width: 360px) {
	html { font-size: 22.5px; }
}
@media (min-width: 375px) {
	html { font-size: 23.5px }
}
@media (min-width: 414px) {
	html { font-size: 25.5px }
}

/*publie*/
body { font-family: '微软雅黑'; background: #f0f0f0; }
a { color: #84368f; }
a , img , label , input[type="radio"] { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.flex { display: -webkit-box; display: -webkit-flex; -webkit-box-align: center; -webkit-align-items: center; }
.flex .flex-item { -webkit-box-sizing: border-box; -webkit-box-flex: 1; -webkit-flex: 1; }
.pull-left { float: left; }
.pull-right { float: right; }
.clearfix:before , .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.tl { text-align: left !important; }
.tc { text-align: center; }

/*register*/
.register-header { border-top:1px solid #4c8096; font-size:.6rem; line-height:.75rem; color:#aaa; padding: .6rem .8rem; }
.register-form-box { padding: 0 .2rem 0 .9rem; background: #fff; }
.register-form-box:first-child { margin-bottom: 1.35rem; }


/*form*/
.form-item { background:#fff; position:relative; height: 1.8rem; line-height: 1.8rem; border-bottom: 1px solid #d4d4d4; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form-item:last-child { border-bottom: 0; }
.form-item label { color: #3b3b3a; }
.form-item .form-control { -webkit-appearance: none; height: 1.6rem; border: 0; outline: 0; text-align: right; -webkit-box-sizing: border-box; box-sizing: border-box; }
.register-main .form-control { background: url(../img/form-item-back.png) 96% center no-repeat; background-size: .4rem .5rem; }
.form-item input::-webkit-input-placeholder { color: #bcbcbc; }
.form-item input.form-control { padding-right: 1.4rem; }
.form-item select { color: #bcbcbc; width:100%; height:1.8rem; position:absolute; right:0; top:0; opacity:0; }

/*signin*/
.signin { width: 10.8rem; margin: 3.2rem auto 0; }
.signin .signin-group { height: 1.4rem; }
.signin .signin-group:first-child { margin-bottom: .9rem; }
.signin .signin-group input { height: 1.4rem; padding-left: .4rem; font-size: .65rem; color: #b5b5b5; border: solid #c8c8c8; border-width: 0 0 1px 0; background: transparent; outline: none; }
.signin small { font-size: 12px; display: block; text-align: right; color: #c8c8c8; line-height: 1; margin-top: .8rem; }
.signin input[type="submit"] { display: block; width: 80%; height: 36px; margin: .8rem auto 0; background: #84368f; color: #fff; border: 0; border-radius: 5px; }
.signin .signin-phone , 
.signin .signin-lock { display: inline-block; vertical-align: middle; width: .6rem; margin-right: .35rem; }
.signin .signin-phone { height:.92rem; background: url(../img/signin-phone.png) no-repeat; background-size: cover; }
.signin .signin-lock { height: .82rem; background: url(../img/signin-lock.png) no-repeat; background-size: cover; }

/*footer*/
footer { position: fixed; z-index: 999; width: 100%; left: 0; bottom: 0; background: #fff; height: 2.4rem; border-top: 1px solid #ddd; padding-top: .4rem; -webkit-box-sizing: border-box; box-sizing: border-box; }
footer a { text-align: center; height: 100%; font-size: 12px; padding-top: 1.1rem; color: #949494; background-repeat: no-repeat; background-position: top center; background-size: 1.2rem 1.1rem; }
footer a.active { color: #84368f; }
footer .nth1 { background-image: url(../img/footer1.png); }
footer .nth2 { background-image: url(../img/footer2.png); }
footer .nth3 { background-image: url(../img/footer3.png); }
footer .nth4 { background-image: url(../img/footer4.png); }
footer .nth5 { background-image: url(../img/footer5.png); }
footer .nth1.active { background-image: url(../img/footer1-active.png); }
footer .nth2.active { background-image: url(../img/footer2-active.png); }
footer .nth3.active { background-image: url(../img/footer3-active.png); }
footer .nth4.active { background-image: url(../img/footer4-active.png); }
footer .nth5.active { background-image: url(../img/footer5-active.png); }

/*layout*/
#main { position: absolute; width: 100%; height: 100%; padding-bottom: 2.5rem; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*msg*/
.msg-list { background: #fff; }
.msg-list .msg-item { height: 3.3rem; }
.msg-list .msg-item .msg-photo { margin: .45rem .6rem; width: 2.4rem; height: 2.4rem; border-radius: 50%; }
.msg-list .msg-item .msg-detail { border-bottom: 1px solid #e4e4e4; height: 3.3rem; }
.msg-list .msg-item .msg-detail > span { font-size: .65rem; color: #ababab; margin-right: .7rem; }
.msg-list .msg-item .msg-detail .sr { background: url(../img/icon-price.png) center left no-repeat; background-size: .5rem .5rem; padding-left: .65rem;  }
.msg-list .msg-item .msg-detail .xl { background: url(../img/icon-xl.png) center left no-repeat; background-size: .65rem .5rem; padding-left: .8rem; }
.msg-list .msg-item .msg-detail-title { overflow: hidden; }
.msg-list .msg-item .msg-detail-title h2 { line-height: 1; font-size: .75rem; margin: .75rem 0 .3rem 0; color: #545454; }
.msg-list .msg-item .msg-detail-title .time { color: #ababab; font-size: .6rem; margin: .65rem .5rem 0 0; }

.search-form { height: 1.8rem; line-height: 1.8rem; background: #fff; border-top: 1px solid #dadada; border-bottom: 1px solid #ddd;  -webkit-box-sizing: border-box; box-sizing: border-box; }
.search-form span { color: #919191; text-align: center; }
.search-form .sj { display: inline-block; vertical-align: -4px; margin-left: 5px; border: 5px solid; border-color: #919191 transparent transparent transparent; }

.index-slide { position: relative; margin: .35rem .25rem; }
.index-slide .hd { position: absolute; overflow: hidden; height: 11px; bottom: 10px; left: 50%; -webkit-transform: translateX(-50%); z-index: 99; }
.index-slide .hd li { float: left; width: 11px; height: 11px; margin: 0 5px; background: #84368f; border-radius: 50%; font-size: 0; }
.index-slide .hd li.on { background: #fff; }
.index-card { background: #fff; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: .4rem .6rem; margin-bottom: .4rem; }
.index-card .index-card-photo { width: 5.4rem; height: 5.4rem; margin-right: .6rem; }
.index-card .index-card-detail { height: 5.4rem; position: relative; }
.index-card .index-card-detail .on { position: absolute; top: .1rem; right: 0; color: #949494; font-size: 12px; padding-left: 12px; background: url(../img/icon-on.png) center left no-repeat; background-size: 10px 10px; }
.index-card .index-card-detail h2 { font-size: .6rem; font-weight: normal; margin: 0; color: #292929; }
.index-card .index-card-detail span { color: #bbb; }
.index-card .index-card-detail p { font-size: 12px; line-height: 1.5; }
.index-card .link-group { padding-top: .5rem; }
.index-card .link-group a { display: block; float: left; width: 2.4rem; height: 1rem; border: 1px solid #ddd; border-radius: 7px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.index-card .link-group .hi { margin: 0 .7rem; background: url(../img/icon-hi.png) center no-repeat; background-size: .75rem .75rem; }
.index-card .link-group .msg { background: url(../img/icon-email.png) center no-repeat; background-size: .75rem .55rem; }
.index-card .link-group .phone { background: url(../img/icon-phone.png) center no-repeat; background-size: .7rem .7rem; }

.person-header { height: 5rem; background: url(../img/header.png); background-size: cover; }
.person-header .person-header-photo { margin: .65rem 0 0 .65rem; }
.person-header .person-header-photo img { width: 3.75rem; height: 3.75rem; border: 2px solid #fff; border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.person-header .person-header-icon { padding-left: .4rem; padding-top: 1.2rem; }
.person-header .person-header-icon span { color: #863592; }
.person-header .person-header-icon em { font-style: normal; color: #f00; }
.person-header .person-header-icon .icon-h-email ,
.person-header .person-header-icon .icon-h-card ,
.person-header .person-header-icon .icon-h-phone { display: inline-block; height: .9rem; background-repeat: no-repeat; margin-top: .4rem; }
.person-header .person-header-icon .icon-h-email { width: .9rem; margin-left: .3rem; background: url(../img/icon-h-email.png); background-size: .9rem .9rem; border-radius: 50%; }
.person-header .person-header-icon .icon-h-card { width: 1.1rem; margin-left: .5rem; background: url(../img/icon-h-card.png); background-size: 1.1rem .9rem; }
.person-header .person-header-icon .icon-h-phone { width: .9rem; margin-left: .5rem; background: url(../img/icon-h-phone.png); background-size: .9rem .9rem; border-radius: 50%; }

.person-header .person-header-button { margin: 1.2rem 1.4rem 0 0; }
.person-header .person-header-button a { display: block; color: #fff; font-size: .6rem; width: 4rem; height: 1.1rem; line-height: 1.1rem; border-radius: 7px; text-align: center; }
.person-header .person-header-button .on { background: #01b21a; }
.person-header .person-header-button .love { background: #863592; margin-top: .5rem; }

.person-tab { height: 1.5rem; background: #ededed; line-height: 1.5rem; text-align: center; border-bottom: 2px solid #863592; }
.person-tab span { height: 100%; }
.person-tab span.on { border-bottom: 2px solid #863592; color: #863592; }

.person-photo { margin: .3rem .2rem; }
.person-photo img { width: 3.7rem; height: 4.7rem; border: 1px solid #ddd; }
.person-title { height: 1.5rem; line-height: 1.5rem; text-align: center; color: #2a2a2a; font-size: .65rem; background: #f1e4f2; border: solid #d2d2d2; border-width: 1px 0; padding: 0 .7rem; -webkit-box-sizing: border-box; box-sizing: border-box; }
.person-content { margin: .25rem 0; background: #fff; height: 2.1rem; font-size: .6rem; padding: 0 .6rem; }
.person-content.lc { line-height: 2.1rem; }
.person-content .icon-vip , .person-content .icon-phone { display: inline-block; width: 1.5rem; height: 1.5rem; margin: .3rem .3rem 0; }
.person-content .icon-vip { background: url(../img/icon-vip.png) no-repeat; background-size: cover; }
.person-content .icon-phone { background: url(../img/icon-mobile.png) no-repeat; background-size: cover; }

.person-form { margin: .25rem 0 .4rem 0; padding-left: .65rem; background: #fff; }
.person-form .form-item .form-control { color: #bcbcbc; padding: 0 .65rem 0 0; }

.person-love { padding: .6rem 0; background: #fff; margin-bottom: .4rem; }
.person-love img { width: 2.5rem; height: 2.5rem; border-radius: 50%; display: block; margin: 0 auto; }

.person-nth1 { background: url(../img/pf1.png) center top no-repeat; background-size: 1.2rem 1.2rem; }
.person-nth2 { background: url(../img/pf2.png) center top no-repeat; background-size: 1.2rem 1.2rem; }
.person-nth3 { background: url(../img/pf3.png) center top no-repeat; background-size: 1.2rem 1.2rem; }

.row { height: 30%; margin-top: 3%; text-align: center; color: #fff; font-size: 12px; }
.row .flex-item { height: 100%; position: relative; }
.row .flex-item p { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); }
.row .flex-item:nth-child(odd) { margin-left: 10px; margin-right: 5px; }
.row .flex-item:nth-child(even) { margin-left: 5px; margin-right: 10px; }
.row .nth1 { background: #ff9944; }
.row .nth2 { background: #7676e6; }
.row .nth3 { background: #a482d6; }
.row .nth4 { background: #4d9ee0; }
.row .nth5 { background: #62c5ca; }
.row .nth6 { background: #a3ce4b; }

.about { padding: .6rem; }
.about h2 { font-size: 545454; margin-top: 1.1rem; margin-bottom: .4rem; font-size: .7rem; }
.about p , .about li { font-size: .6rem; color: #8e8e8e; line-height: 1rem; }
.about ol , .about p { padding-left: 1rem; }
.about .tq { background: url(../img/tq.png) center left no-repeat; background-size: .9rem .9rem; padding-left: 1rem; }
.about .tip { background: url(../img/tip.png) center left no-repeat; background-size: .8rem .9rem; padding-left: 1rem; }

.alert-success { background: url(../img/success.png) center no-repeat; background-size: 2.2rem 2.2rem; padding-top: 4rem; margin-top: 3rem; }
.alert-success h2 { display: block; text-align: center; font-size: 1rem; color: #545454; }

.vip-tip { height: 1.5rem; line-height: 1.5rem; text-align: center; color: #fff; font-size: .8rem; background: #ffa200; }

.vip-list { background: #fff; }
.vip-list > label { height: 2.5rem; border-bottom: 1px solid #ddd; }
.vip-list > label span:first-child { color: #f59e5f; font-size: .8rem; padding-left: 1.75rem; }
.vip-list > label span:last-child { font-size: .6rem; line-height: 1; }
.vip-list > label em { font-size: .8rem; font-style: normal; color: #14b4c1; }
.vip-list input { margin-left: 2rem; -webkit-appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1.5rem; height: 1.5rem; border: 1px solid #ddd; border-radius: 50%; outline: 0; }
.vip-list input[type="radio"]:checked { background: url(../img/success.png) no-repeat; background-size: cover; }

.vip-form { background: #fff; margin-top: .5rem; padding-bottom: 4.4rem; }
.vip-form .form-item label { padding-left: 1.75rem; }
.vip-form p { width: 12.5rem; height: 2.1rem; color: #a1a1a1; margin: 1.5rem auto 2rem; padding-left: 1rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../img/icon-error.png) left .3rem no-repeat; background-size: .6rem .6rem; }
.vip-form input[type="submit"] { display: block; width: 12.5rem; height: 2.1rem; background: #76cb56; color: #fff; border: 0; border-radius: 10px; margin: 0 auto; }