.mui-checkbox.mui-checkbox-cycle input[type=checkbox]:before {
	content: "\e413"
}
.mui-checkbox-cycle input[type=checkbox]:checked:before {
	content: "\e443"
}
* {
	margin: 0;
	padding: 0;
}
html,body{ height:100%;}
body {
	padding-top: 0px;
	font-family: "arial, helvetica, sans-serif";
	/*background: #f5f5f5;*/
	color: #333333;
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	background-color:#f0eff5;
}
ul,
li,
ol {
	list-style: none;
}
input {
	border: 0;
	background: #007AFF;
}
.clear_float {
	zoom: 1;
}
.clear_float:after {
	content: "";
	clear: both;
	display: block;
}
.top_border {
	border-top: solid 1px #FFFFFF;
	position: relative;
}
.top_border1 {
	border-top: solid 1px #e3e1e4;
	position: relative;
}
.bottom_border {
	border-bottom: solid 1px #e3e1e4;
}
.top_margin {
	margin-top: 10px;
}
.margin_bk {
	padding: 0 20px;
	position: relative;
}
.margin_bk .mui-table-view-cell {
	padding: 11px 0;
}
.margin_bk .mui-table-view-cell>a:not(.mui-btn) {
	margin: -11px 0;
}
.margin_bk .mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 0px;
}
.margin_bk .mui-table-view-cell.mui-radio.mui-left {
	padding-left: 40px;
}
.margin_bk .mui-checkbox.mui-left label,.margin_bk .mui-radio.mui-left label {
	padding-left: 40px;
}
.margin_bk .mui-input-row label {
	padding: 8px 0px 8px 15px;
}
.margin_bk .mui-navigate-right:after,
.mui-push-right:after {
	right: 0;
}

/*通出 默认 头部title *** header_nav*/
.header_nav{ position:relative; width:100%; height:54px;padding:0px 10px; background-color:#676e78; display:none;}/*隐藏头部*/
.header_nav .icon-return{width:25px;height:25px;background-image: url(/Public/Home/images/icon-return.png);background-repeat: no-repeat;background-position: center center;background-size: 100%;display: block; margin-top:15px; float:left;text-indent:-9999px;}
.header_nav .icon-doubt{width:25px;height:25px;background-image: url(/Public/Home/images/icon-doubt.png);background-repeat: no-repeat;background-position: center center;background-size: 100%;display: block; margin-top:15px; float:right; text-indent:-9999px;}
.header_nav  .mui-title{ font-size:20px; line-height:54px; color:#fff;}

/*上门服务*/
.smfw_layout{ width:100%; height:auto; position:relative;z-index:14;}
.smfw_layout .mui-table-view{background-position: 0px 100%;}

.smfw_search{ width:100%; height:50px; padding:10px;}
.smfw_search_loginbar{ position:relative;
	width:100%;
	height:30px;
	
}
.smfw_search_loginbar input{ width:100%; height:30px;-webkit-border-radius: 5px;border-radius: 5px; border:1px solid #ccc; color:#7d7d7d;background-image: url(/Public/Home/images/search.png);background-repeat: no-repeat;background-position: 10px center; background-size:16px; padding-left:30px; padding-right:30px;}
.smfw_search_loginbar span.pop_text{ position:absolute; top:5px; left:30px;}
.smfw_search_loginbar .mui-icon-closeempty{ position:absolute; right:0px; top:0px;position: absolute;width: 30px;height: 30px;font-size: 30px;color:#7d7d7d;}


.smfw_locate_layout{
	position:absolute;
	top:25%;
	width:250px;
	height:79px;
	left:15%;
	z-index:5; padding:10px;
-webkit-border-radius: 5px;	border-radius: 5px;

	background-image: url(/Public/Home/images/smfw-bj-taxi.png);
	background-repeat: no-repeat;
	background-position: center center; background-size:100%;
}
.smfw_locate_layout h1{ font-size:0.8em; text-align:left; width:100%; line-height:20px; margin:4px 0px 0px 0px;}
.smfw_locate_layout h1 span{ color:#ff6d07;}
.smfw_locate_layout .status{ width:100%;line-height:24px; font-size:0.8em; text-align:center;}
.smfw_locate_layout .status a{ color:#7d7d7d;width: 100%;display: inline-block; text-align: left;}
.smfw_locate_layout .status .mui-icon{ font-size:1.2em; color:#5dacff;float: right; line-height: 24px;}

.smfw_icon_taxi img{ width:20px;position:absolute; top:200px; left:158px; z-index:4;}

.smfw_module_layout{ position:fixed; bottom:0px;width:100%; max-width:640px; height:165px; z-index:10; padding:0px ;background: white;}
.smfw_module_tab{ width:100%; height:85px; background:#fff;-webkit-border-radius: 5px;border-radius: 5px; overflow:hidden;}
.smfw_module_tab_img{ width:100%; height:54px;}
.smfw_module_tab_img_list{ width:100%; overflow:hidden; height:54px;}
.smfw_module_tab .mui-table-view{background-color: transparent;
  background-position: 0px 100%;}
.smfw_tab_slider{ width:100px; height:54px; text-align:center; float:left; margin:0px;}
.smfw_tab_slider .img{width:37px;height:37px;display:inline-block;vertical-align:middle;margin-top:-19px;background-image: url(/Public/Home/images/icon-choose-1.png);background-repeat: no-repeat;background-position: center center; background-size:100%;}
.smfw_tab_slider span{ margin-top:12px; text-align:left; margin-left:3px; line-height:16px;display:inline-block;color:#aaaaaa;font-size:0.8em;}

.smfw_tab_slider a.active .img{background-image: url(/Public/Home/images/icon-choose-1-h.png);}
.smfw_tab_slider a.active span{color:#00b7ee;}


.smfw_module_tab_preferential{ width:100%; padding:0px 10px; height:31px;}
.smfw_module_tab_preferential span{ float:left; padding:0px 5px; line-height:20px; margin-top:5px; background:#ff6d07; font-size:0.8em; color:#fff;-webkit-border-radius: 3px;border-radius: 3px; margin-right:5px;}
.smfw_module_tab_preferential p{ line-height:31px; font-size:0.9em; color:#434343;}


/*smfw_module_btn*/
.smfw_wallet_btn_list{width:100%; height:75px; background:#fff;-webkit-border-radius: 5px;border-radius: 5px; overflow:hidden; margin-top:5px;}
.smfw_wallet{ width:100%; padding:0px 10px; height:35px; line-height:35px;}
.smfw_wallet span{
	height:30px;
	background-image: url(/Public/Home/images/icon-wallet.png);
	background-repeat: no-repeat;
	background-position: left center;
	display:inline-block; background-size:40%; padding-left:30px; float:left;
}
.smfw_wallet a{ float:right; font-size:0.8em; color:#434343;}
.smfw_wallet a i{font-size:1.2em; color:#5dacff;}


.smfw_wallet_btn{width:100%; height:40px; background:#0579e8;-webkit-border-radius: 5px;border-radius: 5px; overflow:hidden; padding:5px 0px;}
.smfw_wallet_btn span.width_65{ float:left;height:30px;line-height:30px; width:65%; border-right:1px solid #1f91fe; text-align:center; color:#fff;}
.smfw_wallet_btn span.width_35{ float:right;height:30px;line-height:30px; width:34%; text-align:center; color:#fff;}
/*上门服务 地图*/
.smfu_map{ position:relative; height:calc(100%-124px);}
.map_pop_smxc{display:none; position:absolute; width:100%; height:100%;background-color:rgba(000,000,000,0.2); z-index:13;top:0; }

/*弹出窗-选择支付方式*/
.smxc_pop_pay_layout{display:none;position:absolute; bottom:0px; height:auto; width:100%;padding:0px 10px;z-index:190;}
.smxc_pop_pay{ width:100%; height:auto;-webkit-border-radius: 5px 5px 0px 0px;border-radius:5px 5px 0px 0px; background-color:#fff;}
.smxc_pop_pay ul li.mui-table-view{background-color:transparent;  background-position: 0px 100%;}
.smxc_pop_pay ul li{display: none; width: 100%;height: 50px; line-height:50px;padding: 0px 10px; font-size: 1em;text-align: center;}
.smxc_pop_pay ul li p{color: #000;margin: 0px;padding: 0px;font-size: 1em;}
.smxc_pop_pay ul li a{display: inline-block;color: #000;font-size: 1em;}
.smxc_pop_pay ul li a i{display:inline-block; float: left; width: 25px;height: 25px; margin: 12px 10px 0px 0px;}
.smxc_pop_pay ul li a i.pay_exc_icon{background-image: url(/Public/Home/images/smxcImg/pay_exc_icon.png); background-repeat: no-repeat; background-position: center center;background-size: 100%;}
.smxc_pop_pay ul li a i.pay_baidu_icon{background-image: url(/Public/Home/images/pay_baidu_icon.png); background-repeat: no-repeat; background-position: center center;background-size: 100%;}
.smxc_pop_pay ul li a i.pay_weixin_icon{background-image: url(/Public/Home/images/pay_weixin_icon.png); background-repeat: no-repeat; background-position: center center;background-size: 100%;}
.smxc_pop_pay ul li a i.pay_zfb_icon{background-image: url(/Public/Home/images/pay_zfb_icon.png); background-repeat: no-repeat; background-position: center center;background-size: 100%;}

/*汽车列表*/
.qclb_layout{ width:100%; height:auto; padding:17px 10px 0px 10px;}
.qclb_list{ width:100%; height:auto; background:#fff;-webkit-border-radius: 5px;border-radius: 5px;}
.qclb_list .mui-table-view{background-color:transparent;  background-position: 0px 100%;}
.qclb_list ul li{overflow:hidden;height: 50px;line-height: 50px;padding:0px 10px;font-size: 1em;}
.qclb_list ul li a{ width:100%; display:inline-block;}
.qclb_list ul li p{float: left;margin: 0px 5px 0px 0px;padding: 0px; font-size: 0.9em;color: #6f6f6f;}
.qclb_list ul li span{float: left;margin: 0px 0px 0px 5px;padding: 0px; font-size: 0.9em;color: #717171;}
.qclb_list ul li span em{font-style:normal;margin: 0px;padding: 0px; font-size: 0.9em;color: #6f6f6f;}






/*上门服务  弹窗*/
/*继续下单*/
.mask_pop_status{ display:none;width:85%; height:138px;-webkit-border-radius: 5px;border-radius: 5px; position:absolute; top:140px; left:7%; background:#fff; z-index:120;}
.mask_pop_status_text{ width:100%; height:75px; text-align:center; padding:15px 0px;}
.mask_pop_status_text p{ width:100%; color:#434343; line-height:24px; font-size:1em; margin:0px;}
.mask_pop_status .mui-table-view{background-color:transparent;  background-position: 0px 100%;}

.mask_pop_status_btn{ width:100%; height:75px; text-align:center; padding:10px 10px;}
.mask_pop_status_btn a.status_btn_cancel{ width:45%; height:42px; line-height:42px; background:#f8f8f8; display:inline-block;-webkit-border-radius: 5px;border-radius: 5px; border:1px solid #e5e5e5; color:#434343; margin-right:1%;}
.mask_pop_status_btn a.status_btn_determine{ width:45%; height:42px; line-height:42px; background:#067df0; display:inline-block;-webkit-border-radius: 5px;border-radius: 5px; border:1px solid #067df0; color:#fff; margin-left:1%;}


/*暂未开通*/
.zwkt_pop_status{display:none; width:85%; height:185px;-webkit-border-radius: 5px;border-radius: 5px; position:absolute; top:120px; left:7%; background:#fff; z-index:20;}
.zwkt_pop_status_text{ position:relative;width:100%; height:140px; text-align:center; padding:15px 0px 0px 0px;}
.zwkt_pop_status .mui-table-view{background-color:transparent;  background-position: 0px 100%;}

.zwkt_pop_status_text p{ line-height:26px; margin:0px; color:#434343;}
.zwkt_pop_status_text p em{ color:#067df0; font-style:normal;}
.zwkt_pop_status_text .down-icon{position:absolute;top:5px;right:5px;width:18px;height:18px;display:inline-block;
	background-image: url(/Public/Home/images/down-icon.png);
	background-repeat: no-repeat;
	background-position: center center; background-size:100%;
}

.zwkt_pop_status_text_icon{ width:100%; text-align:center; height:54px; margin:5px 0px 0px 0px;}
.zwkt_pop_status_text_icon a{
	width:35px;
	height:54px;
	margin:auto;
	display:inline-block;
	background-image: url(/Public/Home/images/light-icon.png);
	background-repeat: no-repeat;
	background-position: center bottom; background-size:75%;
}
.zwkt_pop_status_text_icon a.active{background-image: url(/Public/Home/images/light-icon-h.png);
	background-repeat: no-repeat;
	background-position: center bottom; background-size:100%;}

.zwkt_pop_status_btn{ width:100%; height:45px; line-height:45px; text-align:right;}
.zwkt_status_jump{ width:100%; line-height:45px;font-size:0.9em; color:#7d7d7d;}
.zwkt_status_jump i{ font-size:1em;}







/*车牌号 信息*/
.clxx_layout{ width:100%; height:auto; padding:17px 10px 0px 10px;}
.clxx_cphxx{ width:100%; height:auto; -webkit-border-radius: 5px;border-radius: 5px; background-color:#fff;}
.clxx_cphxx .mui-table-view-cell{ background-color:transparent !important;  background-position: 0 100%, 0 0 !important; padding:0px 10px;}
.clxx_cphxx .clxx_cphxx_cph{ width:100%;height:45px; line-height:45px;}
.clxx_cphxx .clxx_cphxx_cph select{ float:left;width: 50%;padding: 10px 0px; margin: 0px; font-size:1em;}
.mui-table-view-cell>a:not(.mui-btn){ padding:0;margin:0; color:#434343; font-size:1em;}
.mui-navigate-right:after{ right:-5px; color:#01b7ee;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(1) span{ float:left; color:#7d7d7d; font-size:1em;margin-right:5px;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(1) .cphxx-icon-options{ float:left;margin-right:5px; font-size:1em; color:#434343;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(1) .cphxx-icon-options i{width:10px;height:8px;background-image: url(/Public/Home/images/icon-under.png);background-repeat: no-repeat;background-position: center center;background-size:100%;display:inline-block; margin-left:3px;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(1) input{ width:50%; height:26px; line-height:26px; border:none; padding:0px 10px; margin:8px 0px 0px 0px; color:#bdbdbd;font-size:0.9em;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(2) span{float:left; color:#7d7d7d; font-size:1em; margin-right:5px;}
.clxx_cphxx .clxx_cphxx_cph:nth-child(3) span{float:left; color:#7d7d7d; font-size:1em; margin-right:5px;}

/*-------省份选择-----*/

.clxx_sfxzbk {
	/*margin:80px 20px 0;*/
	height: auto;
	width: 100%;
}
.clxx_sfxzbk ul {
	width: 100%;
	background-color:#fff; 
}
.clxx_sfxzbk ul li {
	width: 20%;
	float: left;
	display: block;
	text-align: center;
}
.clxx_sfxzbk ul li a {
	float: left;
	display: block;
	color: #666666;
	width: 100%;
	padding: 15px 0;
}
.clxx_sfxzbx_right {
	border-right: solid 1px #e3e1e4;
}
.clxx_sfxzbx_bottom {
	border-bottom: solid 1px #e3e1e4;
}

/*车牌号-备注信息*/
.mr-top-bear{ margin-top:-8px;}
.clxx_cphxx .cphxx_bzxx{ padding:10px; color:#7d7d7d; font-size:1em;}
.clxx_cphxx .cphxx-bzxx-text{padding:0px 10px 10px 10px;}
.clxx_cphxx .cphxx-bzxx-text textarea{border:none;padding:0px 10px 0px 22px;margin-bottom:0px;height:60px;background-image: url(/Public/Home/images/icon-remark.png);background-repeat: no-repeat;background-position: left top;background-size:20px;display: block; font-size:0.9em; color:#bdbdbd;}




/*车辆信息  主体按钮*/
.clxx-main-btn{ width:100%; padding:0px 20px; text-align:center; margin-top:30px;}
.clxx-main-btn a.clxx-btn{ width:100%; line-height:40px; text-align:center;-webkit-border-radius: 5px;border-radius: 5px;background-color:#1880ed; display:inline-block; color:#fff; font-weight:bold;}




/*支付成功  zfcg_layout*/
.zfcg_layout{ width:100%; height:auto; padding:17px 10px 0px 10px;}
.zfcg_yyxx{ width:100%; margin-bottom:20px;}
.zfcg_yyxx h1{ margin:0px auto 10px; padding:0px; text-align:center; font-size:1em; color:#000;}
.zfcg_yyxx_list{-webkit-border-radius: 5px;border-radius: 5px; background-color:#fff; color:#7d7d7d;}
.zfcg_yyxx_list .mui-table-view{background-color:transparent;  background-position: 0px 100%;}
.zfcg_yyxx_list_ddzt{ height:40px; line-height:40px; padding:0px 10px; overflow:hidden;}
.zfcg_yyxx_list_ddzt span{ float:left; margin-right:5px;}
.zfcg_yyxx_list_ddzt p{ float:left;font-size:1em;}
.zfcg_yyxx_list_ddzt p.color_blk{color:#00b7ee;}


.zfcg_zfxx{ width:100%; margin-bottom:20px;}
.zfcg_zfxx h1{ margin:0px auto 10px; padding:0px; text-align:center; font-size:1em; color:#000;}
.zfcg_zfxx_list{-webkit-border-radius: 5px;border-radius: 5px; background-color:#fff; color:#a0a0a0;}
.zfcg_zfxx_list .mui-table-view{background-color:transparent;  background-position: 0px 100%;}
.zfcg_zfxx_list_ddzt{ height:40px; line-height:40px; padding:0px 10px; overflow:hidden;}
.zfcg_zfxx_list_ddzt span{ float:left; margin-right:5px;}
.zfcg_zfxx_list_ddzt p{ float:right;font-size:0.8em; color:#00b7ee;}
.zfcg_zfxx_list_ddzt p.size_sjzf{font-size:1em;}
.zfcg_zfxx_list_ddzt p em{ font-style:normal; margin-right:5px;}

/*支付信息  主体按钮*/
.zfxx_btn_more{ width:100%; text-align:right; margin-bottom:20px;}
.zfxx_btn_more a.zfxx-btn{ display:inline-block;  color: #00b7ee;font-size:0.8em;}



/*选择停车位 */
.xztcw_layout{ width:100%; height:auto; position:relative;}
.xztcw_layout .mui-table-view{background-position: 0px 100%;}

.xztcw_search{ width:100%; height:50px; padding:10px;}
.xztcw_search_loginbar{ position:relative;
	width:100%;
	height:30px;
	
}
.xztcw_search_loginbar input{ width:100%; height:30px;-webkit-border-radius: 5px;border-radius: 5px; border:1px solid #ccc; color:#7d7d7d;background-image: url(/Public/Home/images/search.png);background-repeat: no-repeat;background-position: 10px center; background-size:16px; padding-left:30px; padding-right:30px;}
.xztcw_search_loginbar .mui-icon-closeempty{ position:absolute; right:0px; top:0px;position: absolute;width: 30px;height: 30px;font-size: 30px;color:#7d7d7d;}

/*选择停车位  弹出窗*/
.xztcw_pop_search{ display:none;position:absolute; top:54px; height:auto; width:100%;padding:0px 20px;z-index:99;}
.xztcw_pop_search_layout{ width:100%; height:auto;-webkit-border-radius: 5px;border-radius: 5px; background-color:#fff;}
.xztcw_pop_layout_list{width:100%; padding:0px 10px;height:40px; line-height:40px; display:inline-block; color:#7d7d7d;}
.xztcw_pop_layout_list a{width:100%;height:40px; line-height:40px; display:inline-block; color:#7d7d7d;}
.xztcw_pop_layout_list a em{ font-style:normal; color:#00b7ee;}
.xztcw_pop_layout_list a b{}
.xztcw_pop_layout_list a i{ float:right; margin-top:10px; color:#00b7ee;}
.xztcw_pop_layout_list_remove{width:100%; height:30px; line-height:30px;  text-align:center;}
.xztcw_pop_layout_list_remove a{width:100%; height:30px; line-height:30px;background-color:#e5e5e5;-webkit-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px; display:inline-block; color:#7d7d7d;}
.xztcw_pop_search_layout .mui-table-view{background-color:transparent;  background-position: 0px 100%;}
/*超出搜索滚动*/
.xztcw_pop_layout_list_scroll{max-height:160px;overflow-y:scroll;}
/*xztcw地图*/
.xztcw_map{top:0px;bwidth:100%; height:100%;background-color:rgba(000,000,000,0.2); }





/*卡包选择*/
.kbxz_layout{ width:100%; height:auto; padding:17px 10px 0px 10px;}
.kbxz_jfxx{ width:100%; height:64px; background:#fff;-webkit-border-radius: 5px;border-radius: 5px; margin-bottom:20px; padding:0px 10px;}



.kbxz_jfxx_checkbox{ float:left; line-height:64px;}
.kbxz_jfxx_checkbox .mui-checkbox label{padding-left:30px; color:#0fbbef;}
.kbxz_jfxx_checkbox .mui-checkbox input{ float:left; top:17px; left:0px;}
.kbxz_jfxx_checkbox .mui-checkbox input[type=checkbox]:before{}
.kbxz_jfxx_checkbox .mui-checkbox input[type=checkbox]:checked:before{ color:#0fbbef;}

.kbxz_jfxx_text{ float:right;}
.kbxz_jfxx_text h3{ font-size:1em; font-weight:normal; line-height:30px; margin-top:8px; margin-bottom:0px; text-align:right;}
.kbxz_jfxx_text p{ font-size:0.7em; font-weight:normal; line-height:20px;margin-bottom:0px; text-align:right;}

.kbxz_layout_ljjxx{ width:100%; height:auto; padding:0px 10px 50px 10px;}
.kbxz_ljjxx{width:100%; height:auto; background:#fff;-webkit-border-radius: 5px;border-radius: 5px;padding:15px 15px;}
.coupon_bk_green{ background-color:#35BA4B;}
.coupon_bk_orange{ background-color:orange;}
.coupon_bk_blue{ background-color:#0689f4;}
.coupon_bk_gray{ background-color:#DBDBDB;}
.kbxz_ljjxx_coupon{ width:100%; height:auto;-webkit-border-radius: 5px;border-radius: 5px;}

/*立减卷*/
.kbxz_ljjxx_main{ width:100%; height:auto; margin-bottom:10px;}

.kbxz_ljjxx_coupon_module{ width:100%; height:75px; padding:0px 5px;position:relative;}
.kbxz_ljjxx_main .kbxz_ljjxx_coupon_module .i_remain{  width: 34px;height: 20px;line-height: 26px;position: absolute; display: block;right: 0;font-size: 0.7em;color: white;font-style: normal;}
.coupon_module_checkbox{ float:left; line-height:75px;}
.coupon_module_checkbox .mui-checkbox label{padding-left:30px; color:#0fbbef;}
.coupon_module_checkbox .mui-checkbox input{ float:left; top:20px; left:0px;}
.coupon_module_checkbox .mui-checkbox input[type=checkbox]:before{color:#fff; font-size:30px;}
.coupon_module_checkbox .mui-checkbox input[type=checkbox]:checked:before{ color:#fff;}

.ljq_name{overflow:hidden;}

.coupon_module_text{ width:auto; height:75px; padding:0px 1px; text-align:center; float:left;}
.coupon_module_text h3{ margin:0px; line-height:30px; font-size:1em; color:#fff; margin-top:10px;}
.coupon_module_text p{ margin:0px; line-height:14px; font-size:0.7em; color:#fff; padding:0px 3px;-webkit-border-radius: 5px;border-radius: 5px;background-color:rgba(000,000,000,0.2); display:inline-block;}



.coupon_module_money{float:right;height:75px; width:auto; padding:10px 0px;}
.coupon_bk_green span{
	height:55px;
	line-height:55px;
	display:inline-block;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #3d992a; text-align:center; padding-left:5px;
	    color: white;
		font-weight: bold;
		width: 78px;
		font-size: 1.2rem;
}
.coupon_bk_orange span{
	height:55px;
	line-height:55px;
	display:inline-block;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #00a0e8; 
	text-align:center; 
	padding-left:5px;
	color: white;
	font-weight: bold;
	width: 78px;
	font-size: 1.2rem;
}
.coupon_bk_blue span{
	height:55px;
	line-height:55px;
	display:inline-block;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #00a0e8; 
	text-align:center; 
	padding-left:5px;
	color: white;
	font-weight: bold;
	width: 78px;
	font-size: 1.2rem;
}
.coupon_bk_gray span{
	height:55px;
	line-height:55px;
	display:inline-block;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #DBDBDB; 
	text-align:center; 
	padding-left:5px;
	color: white;
	font-weight: bold;
	width: 78px;
	font-size: 1.2rem;
}
.coupon_bk_green .card_2_img,.coupon_bk_blue .card_2_img,.coupon_bk_orange .card_2_img{display: none;}
.coupon_bk_gray  .card_2_img{display: block;width:70px;height:70px;top:2px;position:absolute;left:60%;}
.coupon_module_money span img{ float:left;height:22px; margin-top:17px;}


.ljjxx_coupon_pop_text{display:none;  width:100%; height:auto; padding-top:10px; padding-bottom:10px; background:#fff;-webkit-border-radius:0px 0px 5px 5px;border-radius:0px 0px 5px 5px;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;line-height: 12px; font-size: 0.7rem; height: 90px;  pointer-events: none;}
.kbxz_ljjxx_main .active{display:block;}
.ljjxx_coupon_pop_text p{ margin:0px; line-height:20px; padding:0px 15px 0px 20px; width:100%; font-size:0.8em;}



.ljjxx_coupon_btn{ position:fixed; bottom:0px; left:0px; width:100%; height:40px;}
.ljjxx_coupon_btn a{ width:100%; height:40px; line-height:40px; text-align:center;background: -webkit-linear-gradient( top,#0689f4,#045de6);color:#fff; font-size:1em; display:inline-block;}





/*订单详情*/
.ddxq_layout{ width:100%; height:auto; padding:17px 10px 0px 10px;}
.ddxq_yyxx{ width:100%; height:auto; -webkit-border-radius: 5px;border-radius: 5px; background-color:#fff;}
.ddxq_yyxx .mui-table-view{background-color:transparent;  background-position: 0px 100%;}

.ddxq_yyxx_fwxm{ width:100%; height:90px;}
.ddxq_yyxx_fwxm .text-name{ float:left; margin-left:10px; margin-top:10px; font-size:1em; color:#7d7d7d;}
.ddxq_yyxx_fwxm_list{ float:left; height:80px; margin-top:10px;}
.ddxq_yyxx_fwxm_list li{ float:left; width:65px; height:80px; text-align:center;}
.ddxq_yyxx_fwxm_list li img{ width:50px;}
.ddxq_yyxx_fwxm_list li p{ font-size:0.8em; margin:0px; padding:0px;}



.ddxq_yyxx_xcsf{ width:100%; height:48px; color:#7d7d7d; padding:0px 10px;}
.ddxq_yyxx_xcsf span{ float:left; line-height:48px; height:48px; font-size:1em;}
.ddxq_yyxx_xcsf p{ float:left; line-height:48px; height:48px; font-size:1em; margin-left:5px;margin-bottom:0px;}
.ddxq_yyxx_xcsf_tel{float:right;width:24px;height:24px;background-image: url(/Public/Home/images/icon-tel.png);background-repeat: no-repeat;background-position: center center;display:inline-block; background-size:100%; margin-top:12px;}

.ddxq_yyxx_wcsj{ width:100%; height:48px; color:#7d7d7d; padding:0px 10px;}
.ddxq_yyxx_wcsj span{ float:left; line-height:48px; height:48px; font-size:1em;}
.ddxq_yyxx_wcsj p{ float:left; line-height:48px; height:48px; font-size:1em; margin-left:5px; margin-bottom:0px;}
.ddxq_yyxx_clxx{ width:100%; height:48px; color:#7d7d7d; padding:0px 10px;}
.ddxq_yyxx_clxx span{line-height:8px; height:48px; font-size:1em;}
.ddxq_yyxx_clxx p{ float:left; line-height:28px; height:48px; font-size:1em; margin-left:5px;margin-bottom:0px;}



.ddxq_fwjd{ width:100%; height:auto;}
.ddxq_fwjd ul{width: 100%;
  position: relative;
  padding: 0 15px;
  background: url(/Public/Home/images/ddlcbj.png) repeat-y 20px 0;
  display: inline-block;

}
.ddxq_fwjd ul li{position: relative;
  display: inline-block;
  width: 100%;
  background: url(/Public/Home/images/smxc-ddlcbz.png) no-repeat 1px -14px;
  padding: 0 0 15px 40px;
  background-size: 12px;}

.ddxq_xclcmk_bz{position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url(/Public/Home/images/smxc-ddlcbz.png) no-repeat 0px 0px;
  display: block;
  background-size: 100%;}


.ddxq_fwjd ul li h4{ font-size:1em; color:#454545; font-weight:normal; margin:0px 0px 5px 0px; padding:0px;}
.ddxq_fwjd ul li p{ font-size:1em; color:#969696; font-weight:normal; margin:0px;padding:0px;}