*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
i,
em,
address {
  font-style: normal;
  font-weight: normal;
}
ol,
ul,
li {
  list-style: none;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
input,
button {
  vertical-align: top;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}
a:visited {
  color: #2d2d2d;
}
/* 数值 */
.center {
  margin-left: auto;
  margin-right: auto;
}
.screen-max {
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
}
.z-max {
  z-index: 2147483584;
}
/* 定位 */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}
/* 浮动 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
/* 清除浮动 */
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.both {
  clear: both;
}
/* 类型 */
.none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
/* 表格 */
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.table-col {
  display: table-column;
}
.table-row {
  display: table-row;
}
/* 显示隐藏 */
.show {
  display: block;
}
.hide {
  display: none;
}
/* 溢出 */
.over-hide {
  overflow: hidden;
}
.over-show {
  overflow: visible;
}
.over-auto {
  overflow: auto;
}
.over-scroll {
  overflow: scroll;
}
/* 滚动条 */
.scroll {
  overflow: scroll;
}
.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}
/* 字体 */
/* 字体装饰 */
.font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 装饰 */
/* 对齐(左右) */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.start {
  text-align: start;
}
.end {
  text-align: end;
}
.justify {
  text-align: justify;
}
/* 首 */
/* 字间距 */
/* 文字样式 */
.normal {
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}
/* 对齐(上下) */
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}
.v-base {
  vertical-align: baseline;
}
.v-text {
  vertical-align: text-top;
}
/* 文本修饰 */
/* 断词 */
.text-keep {
  word-wrap: normal;
  word-break: keep-all;
  white-space: nowrap;
}
.text-break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}
/* 边框线 */
.border-none {
  border: none;
}
/* 手型 */
.hand {
  cursor: pointer;
}
.move {
  cursor: move;
}
.wait {
  cursor: wait;
}
.help {
  cursor: help;
}
.crosshair {
  cursor: crosshair;
}
.hand-top {
  cursor: n-resize;
}
.hand-left {
  cursor: w-resize;
}
.hand-right {
  cursor: e-resize;
}
.hand-bottom {
  cursor: s-resize;
}
.hand-top-left,
.hand-left-top {
  cursor: nw-resize;
}
.hand-top-right,
.hand-right-top {
  cursor: ne-resize;
}
.hand-bottom-left,
.hand-left-bottom {
  cursor: sw-resize;
}
.hand-bottom-right,
.hand-right-bottom {
  cursor: se-resize;
}
/* 屏幕 */
.screen-top,
.screen-left,
.screen-right,
.screen-bottom {
  position: fixed;
}
.screen-top,
.screen-bottom {
  left: 0rem;
  right: 0rem;
}
.screen-left,
.screen-right {
  top: 0rem;
  bottom: 0rem;
}
.screen-top {
  top: 0rem;
}
.screen-bottom {
  bottom: 0rem;
}
.screen-left {
  left: 0rem;
}
.screen-right {
  right: 0rem;
}
/* 小箭头 */
.caret-base {
  display: inline-block;
  vertical-align: middle;
  width: 0rem;
  height: 0rem;
  content: '';
}
/* 下拉 */
.drop {
  position: relative;
}
.drop > dd {
  position: absolute;
  display: none;
}
.drop:hover > dd {
  display: block;
}
.drop-up,
.drop-down,
.drop-left,
.drop-right {
  position: relative;
}
.drop-up > dd,
.drop-down > dd,
.drop-left > dd,
.drop-right > dd {
  position: absolute;
  display: none;
}
.drop-up:hover > dd,
.drop-down:hover > dd,
.drop-left:hover > dd,
.drop-right:hover > dd {
  display: block;
}
.drop-up > dd {
  bottom: 100%;
}
.drop-down > dd {
  top: 100%;
}
.drop-left > dd {
  rigth: 100%;
}
.drop-right > dd {
  left: 100%;
}
/* !!
 * 动画速率:
 * ----- ----- ----- ----- -----
 * ease: 渐缓
 * linear: 匀速
 * ease-in: 匀加速
 * ease-out: 匀减速
 * ease-in-out: 匀加速 - 匀减速
 * cubic-bezier: 贝塞尔曲线(x1, y1, x2, y2)
 * ----- ----- ----- ----- -----
 */
/* !!
 * 径向渐变
 * @shape: circle(等圆) | ellipse(椭圆)
 * @size( @shape ): closest-side(圆心->近边) | closest-corner(圆心->近角) | farthest-side(圆心->远边) | farthest-corner(圆心->近角)
 * @position: center | top | left | right | bottom | <percent>
 * -----^----- -----^-----
 */
.no-shadow {
  box-shadow: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.price:before {
  content: '￥';
}
.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border: 1px solid #cccccc;
  background: transparent;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  border-radius: 0.125rem;
}
.checkbox:checked:after {
  content: '';
  position: absolute;
  background: #cc0033;
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  border-radius: 0.125rem;
}
.radio {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border: 1px solid #cccccc;
  background: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.radio:checked:after {
  content: '';
  position: absolute;
  background: #cc0033;
  top: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.button-control:active {
  box-shadow: 'inset' 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
}
.list-inline > li {
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
  visibility: hidden;
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}
/* Manifest */
/* Computer Color */
/*	赤	*/
/*	#800000	*/
/*	#8b0000	*/
/*	#a52a2a	*/
/*	#b22222	*/
/*	#dc143c	*/
/*	#ff0000	*/
/*	粉	*/
/*	#c71585	*/
/*	#d87093	*/
/*	#ff1493	*/
/*	#ff00ff	*/
/*	#ff00ff	*/
/*	#ff69b4	*/
/*	#ffc0cb	*/
/*	#ffb6c1	*/
/*	#ffe4e1	*/
/*	#fff0f5	*/
/*	紫	*/
/*	#4b0082	*/
/*	#800080	*/
/*	#8b008b	*/
/*	#9932cc	*/
/*	#8a2be2	*/
/*	#9400d3	*/
/*	#6a5acd	*/
/*	#9370db	*/
/*	#7b68ee	*/
/*	#ba55d3	*/
/*	#ee82ee	*/
/*	#dda0dd	*/
/*	#d8bfd8	*/
/*	#e6e6fa	*/
/*	橙	*/
/*	#8b4513 */
/*	#a0522d	*/
/*	#d2691e	*/
/*	#cd5c5c	*/
/*	#bc8f8f	*/
/*	#f08080	*/
/*	#fa8072	*/
/*	#ffa07a	*/
/*	#ff4500	*/
/*	#ff6347	*/
/*	#ff7f50	*/
/*	#ff8c00	*/
/*	#f4a460	*/
/*	#cd853f	*/
/*	#d2b48c	*/
/*	#deb887	*/
/*	#f5deb3	*/
/*	#ffe4b5	*/
/*	#ffdead	*/
/*	#ffdab9	*/
/*	#ffe4c4	*/
/*	#faebd7	*/
/*	#ffefd5	*/
/*	#fff8dc	*/
/*	#fdf5e6	*/
/*	#faf0e6	*/
/*	#fff5ee	*/
/*	#fffafa	*/
/*	#fffaf0	*/
/*	#fffff0	*/
/*	#f5fffa	*/
/*	金	*/
/*	#b8860b	*/
/*	#daa520	*/
/*	#ffd700	*/
/*	#ffff00	*/
/*	#bdb76b	*/
/*	#f0e68c	*/
/*	#eee8aa	*/
/*	#f5f5dc	*/
/*	#fffacd	*/
/*	#fafad2	*/
/*	#ffffe0	*/
/*	绿	*/
/*	#2f4f4f	*/
/*	#556b2f	*/
/*	#808000	*/
/*	#006400	*/
/*	#228b22	*/
/*	#2e8b57	*/
/*	#008080	*/
/*	#008080	*/
/*	#20b2aa	*/
/*	#66cdaa	*/
/*	#3cb371	*/
/*	#8fbc8f	*/
/*	#9acd32	*/
/*	#32cd32	*/
/*	#00ff00	*/
/*	#7fff00	*/
/*	#7cfc00	*/
/*	#adff2f	*/
/*	#00fa9a	*/
/*	#00ff7f	*/
/*	#90ee90	*/
/*	#98f898	*/
/*	#7fffd4	*/
/*	#f0fff0	*/
/*	蓝	*/
/*	#191970	*/
/*	#000080	*/
/*	#00008b	*/
/*	#483d8b	*/
/*	#0000cd	*/
/*	#4169e1	*/
/*	#1e90ff	*/
/*	#6495ed	*/
/*	#00bfff	*/
/*	#87cefa	*/
/*	#b0c4de	*/
/*	#add8e6	*/
/*	#4682b4	*/
/*	#008b8b	*/
/*	#5f9ea0	*/
/*	#00ced1	*/
/*	#48d1cc	*/
/*	#40e0d0	*/
/*	#87cecb	*/
/*	#b0e0e6	*/
/*	#afeeee	*/
/*	#e0ffff	*/
/*	#f0ffff	*/
/*	#f0f8ff	*/
/*	#00ffff	*/
/*	#00ffff	*/
/*	黑/白/灰	*/
/*	#000000	*/
/*	#696969	*/
/*	#808080	*/
/*	#708090	*/
/*	#778899	*/
/*	#a9a9a9	*/
/*	#c0c0c0	*/
/*	#d3d3d3	*/
/*	#dcdcdc	*/
/*	#f5f5f5	*/
/*	#f8f8ff	*/
/*	#ffffff	*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../font/glyphicons/glyphicons-halflings-regular.eot');
  src: url('../font/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('../font/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  vertical-align: text-top;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
a[class*='type-'] {
  background-position: 0.75rem center;
}
.type-1,
.type-3 {
  background: url(../img/icon/type1.png) no-repeat;
  background-size: 0.85rem 0.8rem;
}
.type-2,
.type-5 {
  background: url(../img/icon/type2.png) no-repeat;
  background-size: 0.825rem 0.9rem;
}
.type-4 {
  background: url(../img/icon/type4.png) no-repeat;
  background-size: 0.9rem 1.05rem;
}
.type-6 {
  background: url(../img/icon/type6.png) no-repeat;
  background-size: 1rem 0.8rem;
}
.type-7 {
  background: url(../img/icon/type7.png) no-repeat;
  background-size: 1.1rem 0.6rem;
}
.type-8 {
  background: url(../img/icon/type8.png) no-repeat;
  background-size: 0.9rem 0.825rem;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 23.5px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 25.5px;
  }
}
body {
  font: 0.7rem / 1 'Helvetica, Tahoma, Arial, Verdana, Georgia, Sans-Serif, Serif';
  background-image: url('../img/back.png');
  background-color: #eaeaea;
  background-size: cover;
}
header,
footer,
section.page {
  position: absolute;
  left: 0rem;
  right: 0rem;
  overflow: hidden;
}
header {
  position: relative;
  width: 100%;
  height: 2.15rem;
  top: 0rem;
  background-color: #31619d;
}
header h1 {
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
  height: 100%;
  line-height: 2.15rem;
}
header .glyphicon {
  position: absolute;
  color: #ffffff;
  padding: 0 0.75rem;
  height: 100%;
  top: 0rem;
  left: 0rem;
  line-height: 2.15rem;
}
footer {
  font-size: 0;
  width: 100%;
  height: 2.15rem;
  bottom: 0rem;
  text-align: center;
}
footer menu {
  height: 100%;
}
footer a {
  display: inline-block;
  width: 25%;
  height: 100%;
}
footer a.active {
  background: url(../img/footer.png) repeat-x;
  background-size: cover;
}
footer a.active small,
footer a.active .glyphicon {
  color: #ffffff;
}
footer .glyphicon {
  display: block;
  font-size: 20px;
  padding: 0.25rem 0;
  color: #999999;
}
footer small {
  display: block;
  font-size: 0.6rem;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  color: #999999;
}
footer + section.page {
  top: 0rem;
  bottom: 2.15rem;
}
header + footer + section.page {
  top: 2.15rem;
  bottom: 2.15rem;
}
section.page {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.admin-info {
  height: 7.85rem;
  margin-bottom: 1rem;
  background: url(../img/admin-header.png) no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.admin-info .photo {
  position: relative;
  margin: 1.3rem auto 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  border: 3px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.admin-info .photo a {
  position: absolute;
  width: 0.85rem;
  height: 0.85rem;
  bottom: -0.3rem;
  right: -0.3rem;
  background: url(../img/icon/file.png) no-repeat;
  background-size: contain;
}
.admin-info .photo img {
  width: 100%;
  height: 100%;
}
.admin-info > span {
  display: block;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  color: #333333;
}
.admin-box {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid #919191;
  margin-bottom: 0.38rem;
}
.admin-title {
  height: 1.4rem;
  line-height: 1.4rem;
  padding: 0 0.75rem;
  font-size: 0.6rem;
  border-bottom: 1px solid #919191;
}
.admin-nav {
  overflow: hidden;
  font-size: 0;
  text-align: right;
}
.admin-nav a {
  display: inline-block;
  width: 50%;
  height: 2.3rem;
  font-size: 0.7rem;
  padding: 0.5rem 0.7rem 0 0.75rem;
  border-bottom: 1px solid #919191;
}
.admin-nav a:nth-child(even) {
  border-left: 1px solid #919191;
}
.admin-nav small {
  display: block;
  font-size: 0.6rem;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  margin-right: -5px;
  margin-top: 0.1rem;
  color: #999999;
}
.swiper-container {
  overflow: hidden;
  height: 5rem;
}
.swiper-container img {
  display: block;
  width: 100%;
  height: 5rem;
}
.swiper-container .swiper-pagination-bullet {
  background-color: #ffffff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #31619d;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.user-info {
  position: relative;
  height: 5rem;
  background: url(../img/admin-header.png) center no-repeat;
  background-size: cover;
}
.user-info .photo {
  position: absolute;
  overflow: hidden;
  left: 1rem;
  top: 0.85rem;
  width: 3.3rem;
  height: 3.3rem;
}
.user-info .photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.user-info .detail {
  padding: 2.4rem 0 0 4.7rem;
}
.user-info .detail span {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333333;
  line-height: 1rem;
}
.user-info .detail.orders {
  padding: 0.85rem 1rem 0 4.7rem;
}
.user-info .detail.orders .clearfix {
  padding: 0 0 0.25rem 0;
  border-bottom: 1px solid #cccccc;
}
.user-info .detail.orders .clearfix a {
  font-size: 12px;
  line-height: 0.75rem;
}
.user-info .detail.orders .clearfix a:after,
.user-info .detail.orders .clearfix a:before {
  content: '--';
}
.user-info .detail.orders .clearfix a.status-green {
  color: #008000;
}
.user-info .detail.orders .clearfix a.status-blue {
  color: #31619d;
}
.user-info .detail.orders .clearfix a.status-red {
  color: #ff0000;
}
.user-info .detail.orders small {
  display: block;
  font-size: 12px;
  color: #999999;
  margin: 0.25rem 0 0;
}
.user-type {
  display: flex;
  height: 1.8rem;
  line-height: 1.5rem;
  background-color: #ffffff;
  font-size: 12px;
  color: #333333;
  border-bottom: 0.3rem solid #f4f4f4;
  justify-content: space-around;
}
.user-tab menu {
  background-color: #ffffff;
  height: 1.8rem;
  margin-bottom: 0.5rem;
}
.user-tab menu button {
  float: left;
  width: 25%;
  height: 100%;
  line-height: 1.8rem;
  color: #333333;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s;
}
.user-tab menu button.active,
.user-tab menu button:hover {
  color: #31619d;
  border-color: #31619d;
}
.user-item ul {
  display: none;
}
.user-item li {
  padding: 0 0.75rem;
  text-align: center;
  transition: all 0.3s;
}
.user-item li:active,
.user-item li:hover {
  background-color: #f5f5f5;
}
.user-item li a {
  display: block;
  height: 1.8rem;
  line-height: 1.8rem;
}
.user-item li .time,
.user-item li .status,
.user-item li strong,
.user-item li small {
  float: left;
}
.user-item li .time,
.user-item li .status,
.user-item li small {
  font-size: 12px;
}
.user-item li strong {
  font-size: 0.6rem;
}
.user-item li .time {
  width: 30%;
}
.user-item li strong {
  width: 40%;
}
.user-item li .status {
  width: 20%;
}
.user-item li small {
  width: 10%;
}
.user-item,
.user-menu,
.user-price {
  background-color: rgba(255, 255, 255, 0.9);
}
.user-price,
.user-menu {
  margin: 0 0 0.5rem 0;
}
.user-price {
  padding: 1rem 1rem 1rem 2rem;
  text-align: left;
}
.user-price h3,
.user-price strong {
  display: block;
}
.user-price h3 {
  font-size: 0.6rem;
  padding: 0 0 0.5rem 0;
}
.user-price strong {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.6);
}
.user-menu ul {
  padding: 0 0.75rem;
}
.user-menu li:not( :first-child ) {
  border-top: 1px solid #cccccc;
}
.user-menu li {
  position: relative;
  height: 1.6rem;
  line-height: 1.6rem;
}
.user-menu li.glyphicon {
  display: block;
}
.user-menu li.glyphicon .glyphicon {
  position: relative;
  top: 3px;
}
.user-menu li a {
  font-size: 13px;
  color: #666666;
}
.user-menu li:before {
  position: absolute;
  content: "\e080";
  right: 0rem;
  color: #cccccc;
  font-size: 12px;
}
.order-detail {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.75rem;
  color: #333333;
  font-size: 0.6rem;
  line-height: 0.88rem;
}
.order-detail strong {
  display: block;
}
.order-detail article {
  text-indent: 2em;
  padding: 10px 0;
}
.order-detail .clearfix span {
  font-weight: bold;
  padding: 0.2rem 0.5rem 0;
}
.order-detail .clearfix a {
  display: inline-block;
  vertical-align: middle;
  padding: 0.2rem 0.4rem;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form {
  padding: 10rem 0.75rem 0;
}
.form .form-group {
  position: relative;
  overflow: hidden;
  margin: 0 0 0.75rem;
  height: 1.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.form .form-group span[class*='icon-'] {
  position: absolute;
  top: 0.5rem;
  left: 0rem;
  width: 1.4rem;
  height: 0.8rem;
  border-right: 1px solid #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0.35rem center;
}
.form .form-group input:not( [type="button"] ) {
  position: absolute;
  font-size: 0.7rem;
  color: #ffffff;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  border-width: 0;
  padding: 0 0 0 2.4rem;
}
.form .form-group input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.form .form-group .icon-user {
  background-image: url('../img/icon/icon-user.png');
}
.form .form-group .icon-pass {
  background-image: url('../img/icon/icon-pass.png');
}
.form .form-button {
  margin: 0.3rem 0 0.9rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-width: 0;
}
.form .form-button .submit {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #31619d;
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
}
.form .form-button .submit:disabled,
.form .form-button .submit.disabled {
  background-color: #e2e2e2;
  color: #666666;
}
.form .send {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 5.1rem;
  height: 100%;
  text-align: center;
  color: #666666;
}
.form a {
  font-size: 12px;
  color: #666666;
}
fieldset {
  border-width: 0;
  padding: 0.3rem 0.75rem 1.75rem;
  background-color: rgba(255, 255, 255, 0.8);
}
fieldset h3 {
  display: block;
  width: 60%;
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  font-size: 0.6rem;
  color: #666666;
  border-bottom: 1px solid #9c9c9c;
}
fieldset .row {
  position: relative;
  height: 1.8rem;
  padding: 0.2rem 0;
  margin: 0 0 0.3rem 0;
}
fieldset .row > label {
  position: absolute;
  font-size: 0.6rem;
  width: 5em;
  line-height: 1.4rem;
}
fieldset .row .form-group {
  padding: 0 1rem 0 6em;
  width: 100%;
  height: 100%;
}
fieldset .row .form-group .form-control {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.6rem;
  padding: 0 0 0 0.25rem;
  border-bottom: 1px solid #c2c2c2;
}
.form-control-span {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.6rem;
  padding: 0.3rem 0 0 0.25rem;
  border-bottom: 1px solid #c2c2c2;
}
fieldset .row .form-group .form-control-error {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.6rem;
  padding: 0 0 0 0.25rem;
  border-bottom: 1px solid red;
}
fieldset .row .form-group .radio {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.5rem 0 0.3rem;
}
fieldset .row .form-group > label {
  display: inline-block;
  line-height: 1.4rem;
  height: 100%;
}
fieldset .row .form-group textarea {
  display: block;
  padding: 0.3rem 0.25rem 0.5rem 0.25rem;
  font-size: 0.6rem;
  line-height: 0.88rem;
}
fieldset input[type="submit"] {
  display: block;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 1rem auto;
  background-color: #31619d;
  width: 5rem;
  height: 1.5rem;
  border-width: 0;
}
table th {
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}
table td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.3rem 0;
  font-size: 12px;
}
table td:not(:first-child) {
  text-align: center;
}
.tips {
  text-align: center;
  padding: 100px 0 0;
}
.tips span,
.tips small,
.tips strong,
.tips button {
  display: block;
}
.tips span {
  font-size: 50px;
  padding: 50px 0;
}
.tips strong {
  font-size: 0.8rem;
  padding: 10px 0 20px;
}
.tips small {
  font-size: 12px;
}
.tips button {
  margin: 50px auto;
  font-size: 14px;
  color: #ffffff;
  width: 60%;
  height: 1.7rem;
  background-color: #31619d;
}
.tips.error {
  color: rgba(255, 0, 0, 0.6);
}
.tips.success {
  color: #15bd29;
}
.img-list li {
  float: left;
  width: 25%;
  height: 3.5rem;
  padding: 10px;
  position: relative;
}
.img-list li img {
  display: block;
  height: 100%;
  z-index: 11;
  position: relative;
}
.img-list li span {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background-color: #ff0000;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 3px;
  font-size: 12px;
  z-index: 999;
}
.img-list li.img-add i {
  border: 1px dashed #454545;
  height: 100%;
  width: 100%;
  font-size: 25px;
  color: #cccccc;
}
.img-list li.img-add i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}
article {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
article h2 {
  padding: 5px 0 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px 0;
}
article > strong {
  display: block;
  font-size: 14px;
  line-height: 23.75px;
  border-bottom: 1px dashed #cccccc;
  margin: 0 0 10px 0;
}
article > p {
  text-indent: 2em;
  font-size: 14px;
  line-height: 23.75px;
  margin-bottom: 10px;
}
article h3 {
  margin-bottom: 10px;
  /*border-left: 3px solid #31619d;*/
  padding: 3px 0 3px 10px;
  font-size: 16px;
  line-height: 26.25px;
}
article h3 + p {
  text-indent: 0;
  padding: 0 0 0 15px;
}

.radio-list {
  padding: 20px 1%;
  margin: 0 0 2rem 0;
}
.radio-list label {
  float: left;
  position: relative;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 33%;
  padding: 0 3%;
  text-align: center;
}
.radio-list label input,
.radio-list label span {
  width: 100%;
  height: 100%;
}
.radio-list label span {
  display: block;
  transition: all 0.3s;
  color: #31619d;
  font-size: 14px;
  border: 1px solid #31619d;
}
.radio-list label input {
  position: absolute;
  z-index: 1;
  left: 0rem;
  top: 0rem;
}
.radio-list label input:checked + span {
  background: #31619d;
  color: #ffffff;
}
.radio-tab {
  padding: 10px 15px;
  height: 20rem;
}
.radio-tab > div {
  display: none;
}
.radio-tab h3 {
  font-size: 14px;
}
.radio-tab ul li {
  font-size: 12px;
  line-height: 24px;
}
.radio-tab strong {
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 0 0;
}
.shop-detail input[type="button"],
.vip-buys input[type="submit"] {
  display: block;
  margin: 2rem auto 0;
  text-align: center;
  color: #ffffff;
  width: 80%;
  height: 1.8rem;
  background: #31619d;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
}

/*shop*/
.shop-list {
  padding: 10px 15px;
}
.shop-list .item { padding: 10px 0; border-bottom: 1px solid #ccc; }
.shop-list .item .name { font-size: 14px; line-height: 22px; padding-bottom: 5px; }
.shop-list .item span { padding-right: 15px; font-size: 12px; }
.shop-list .item span.old-price { color: #666; text-decoration: line-through; }
.shop-list .item span.now-price { color: rgba(255,0,0,.7); }

.shop-detail { padding: 10px 15px; text-align: center; }
.shop-detail > h3 { font-size: 18px; display: block;padding: 7px 0; line-height: 26px; }
.shop-detail > hr { display: block; margin: 10px 0; }
.shop-detail > span { padding-right: 15px; font-size: 12px; }
.shop-detail > span.old-price { color: #666; text-decoration: line-through; }
.shop-detail > span.now-price { color: rgba(255,0,0,.7); }
.shop-detail > p { text-align: left; text-indent: 2em; font-size: 14px; line-height: 22px; }